<div class="row">
  <div class="container">
    <h1>Pages#two</h1>
    <p>This is the result of the <code>rake routes</code> command</p>
    <%= image_tag "rake_first_result.png", alt: "Rake routes first result" %>
  </div>
</div>
